<header>
    <div class="title">
      <h5><a href="{{ .RelPermalink }}">{{ .Title }} {{ if .Draft }}<em>:: DRAFT</em>{{end}}</a></h5>
        {{ with .Description }}
            <p>{{ . | markdownify }}</p>
        {{ end }}
    </div>
    <div class="meta">
      <time class="published" datetime='{{ .Date.Format "2006-01-02" }}'>
        {{ .Date.Format "January 2, 2006" }}
      </time>
      {{ with .Params.author -}}
      <span class="author">by {{ . }}</span>
      {{- end}}
    </div>
</header>
