{{define "main"}}
    <header class="major">
      <h2>About</h2>
      <p>{{ .Site.Params.guild.about | markdownify }}</p>
    </header>

    <section id="news" class="content">
      {{ if .Site.Params.recentNewsSummaryLimit -}}
      <section class="recent-news">
          <header>
          <h2>News</h2>
        </header>
        <ul class="recent-news alt">
        {{- if .Site.Taxonomies.categories.news -}}
          {{ range first .Site.Params.recentNewsSummaryLimit .Site.Taxonomies.categories.news -}}
          {{/* printf "%#v" .Page */}}
          <li>{{ .Page.Render "summary" }}</li>
          {{ end -}}
        {{- end -}}
        </ul>
      </section>
      {{- end -}}

      {{- if .Site.Params.recentItemListLimit }}
      <section class="recent-posts">
        <header>
          <h2>Recent Items</h2>
        </header>
        <ul class="recent-posts alt">
        {{ range first .Site.Params.recentItemListLimit (where .Data.Pages "Section" "post") }}
          <li>{{ .Render "li" }}</li>
        {{ end }}
        </ul>
      </section>
      {{ end }}
    </section>
{{end}}
